<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- CSS -->
    <link rel="stylesheet" href="static/css/stylesheet.css">

    <title>INFY DATAQ PROJECT</title> 
</head>

<body>
<div class='topbar'>

    <div class="dropdown">
        <button class="dropbtn">IMPORT DATA</button>
        <div class="dropdown-content">
            <a href="http://127.0.0.1:8000/csv_data">CSV</a>
            <a href="http://127.0.0.1:8000/excel_data">Excel</a>
            <a href="http://127.0.0.1:8000/database_data">Google Sheets</a>
            <a href="http://127.0.0.1:8000/google_sheets">MySQL</a>
        </div>
        <div class="dropdown"> 
            <button class="dropbtn" >VALIDATE DATA</button>
            <div class="dropdown-content">
              <a href="http://127.0.0.1:8000/validation/">Validate Data</a>
              <!--<a href="http://127.0.0.1:8000/excel_dataset/">Excel</a>
              <a href="http://127.0.0.1:8000/googlesheets_dataset/">Google Sheets</a>
              <a href="http://127.0.0.1:8000/database_dataset/">MySQL</a> -->
            </div> 
        </div>
        <div class="dropdown"> 
            <button class="dropbtn" >CLEAN DATA</button>
            <div class="dropdown-content">
                <a href="http://127.0.0.1:8000/cleaning_dataset/">Validate Data</a>
            </div> 
        <div class="dropdown"> 
            <button class="dropbtn" >MASKING DATA</button>
            <div class="dropdown-content">
                <a href="http://127.0.0.1:8000/view_data/">MASKING</a>
            </div> 
        

    </div>

</div>




</body>
</html>